body {
  padding: 80px 100px;
  font: 14px "helvetica neue", helvetica, arial, sans-serif;
  color: #222;
}
h1 {
  margin: 10px 0 15px 0;
  font-weight: bold;
  font-size: 60px;
}
.tagline {
  margin: 0;
  padding: 0;
}
.tagline em {
  font-style: normal;
}
.tagline em.expressive {
  color: #222;
}
.tagline em.dynamic {
  color: #555;
}
.tagline em.robust {
  color: #888;
}
.tagline em.css {
  color: #bbb;
}
#example {
  float: left;
  margin: 20px 0;
}
#example pre {
  float: left;
  color: #8d8d8d;
}
#example pre#css {
  margin-left: 35px;
}
a.button {
  float: left;
  clear: both;
  display: block;
  padding: 8px 0 9px;
  background: #e3e3e3;
  border: 1px solid #bbb;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  width: 150px;
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  -webkit-user-select: none;
}
a.button:hover {
  background: #d9d9d9;
  color: #222;
  cursor: pointer;
  -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  box-shadow: inset 0 0 1px 1px #eaeaea;
}
a.button:active {
  background: #d0d0d0;
  color: #000;
  -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
  -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
  box-shadow: inset 0 0 1px 1px #e3e3e3;
}
#ribbon {
  position: absolute;
  top: 2.5em;
  left: -3.75em;
  background-color: #a00;
  padding: 1px 0;
  overflow: hidden;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}
#ribbon a {
  color: #fff;
  border: 1px solid #f18585;
  display: block;
  margin: 0.05em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
}

