html {
  background: #dadada;
  background: -moz-linear-gradient(-90deg, #fff, #dadada) fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dadada)) fixed;
}
body {
  padding: 120px 150px;
  font: 14px "helvetica neue", helvetica, arial, sans-serif;
  color: #484848;
}
h1,
h2,
h3 {
  color: #222;
}
h1 {
  margin: 10px 0 15px 0;
  font-weight: bold;
  font-size: 60px;
}
h2 {
  margin: 0;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #b90101;
}
a:hover {
  text-decoration: underline;
}
ul {
  margin: 0;
  padding: 0 25px;
}
ul li {
  list-style: square;
}
.tagline {
  margin: 0;
  padding: 0;
}
.tagline em {
  font-style: normal;
}
.tagline em.expressive {
  color: #222;
}
.tagline em.dynamic {
  color: #555;
}
.tagline em.robust {
  color: #888;
}
.tagline em.css {
  color: #bbb;
}
#container {
  text-align: center;
}
#container #content {
  margin: 0 auto;
  padding-top: 40px;
  width: 300px;
  text-align: left;
}
.example {
  margin-top: 25px;
}
.example pre {
  width: 300px;
  background: #fff;
  padding: 30px;
  color: #8d8d8d;
  font: 12px / 1.4 monaco, "helvetica neue", helvetica;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(34,34,34,0.1) -1px -1px;
  -webkit-box-shadow: rgba(34,34,34,0.1) -1px -1px;
  box-shadow: rgba(34,34,34,0.1) -1px -1px;
}
a.button {
  clear: both;
  float: left;
  display: block;
  padding: 8px 0 9px;
  background: #e3e3e3;
  border: 1px solid #bbb;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  width: 150px;
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  -webkit-user-select: none;
}
a.button:hover {
  background: #d9d9d9;
  color: #222;
  cursor: pointer;
  -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  box-shadow: inset 0 0 1px 1px #eaeaea;
}
a.button:active {
  background: #d0d0d0;
  color: #000;
  -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
  -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
  box-shadow: inset 0 0 1px 1px #e3e3e3;
}
#ribbon {
  position: absolute;
  top: 2.5em;
  left: -3.75em;
  background-color: #a00;
  padding: 1px 0;
  overflow: hidden;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
#ribbon a {
  color: #fff;
  border: 1px solid #f18585;
  display: block;
  margin: 0.05em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
}

