{% capture trim_whitespaces %}
    {% assign link_handles_result = link_handles_input %}
    {% for link_handle in site.link_handles %}
        {% capture link_handle_what %}href="{{ link_handle.prefix }}{% endcapture %}
        {% capture link_handle_with %}href="{{ link_handle.handle }}{% endcapture %}
        {% capture link_handles_result %}{{ link_handles_result | replace:link_handle_what,link_handle_with }}{% endcapture %}
    {% endfor %}

    <!-- Replace all quoted links like “[something](href)” -->
    {% if site.quoted_link_wrapper_class and page.page_type != 'feed' %}
        {% capture quoted_link_wrapper_attr %}class="{{ site.quoted_link_wrapper_class }}"{% endcapture %}
    {% else %}
        {% capture quoted_link_wrapper_attr %}style="text-decoration:none"{% endcapture %}
    {% endif %}
    {% if site.quoted_link_inner_class and page.page_type != 'feed' %}
        {% capture quoted_link_inner_attr %}class="{{ site.quoted_link_inner_class }}"{% endcapture %}
    {% else %}
        {% capture quoted_link_inner_attr %}style="text-decoration:underline"{% endcapture %}
    {% endif %}

    {% if link_handles_result contains '«<a href="' %}
        {% assign quoted_links = link_handles_result | split:'«<a href="' %}
        {% for quoted_link in quoted_links  offset:1 %}
            {% assign quoted_link_inside = quoted_link | split:'">' | first %}
            {% capture quoted_link_replace_from %}«<a href="{{ quoted_link_inside }}">{% endcapture %}
            {% capture quoted_link_replace_to %}<a {{ quoted_link_wrapper_attr }} href="{{ quoted_link_inside }}">«<span {{ quoted_link_inner_attr }}>{% endcapture %}

            {% assign link_handles_result = link_handles_result | replace_first:quoted_link_replace_from,quoted_link_replace_to %}
        {% endfor %}
        {% assign link_handles_result = link_handles_result | replace:'</a>»','</span>»</a>' %}
    {% endif %}

    {% if link_handles_result contains '“<a href="' %}
        {% assign quoted_links = link_handles_result | split:'“<a href="' %}
        {% for quoted_link in quoted_links  offset:1 %}
            {% assign quoted_link_inside = quoted_link | split:'">' | first %}
            {% capture quoted_link_replace_from %}“<a href="{{ quoted_link_inside }}">{% endcapture %}
            {% capture quoted_link_replace_to %}<a {{ quoted_link_wrapper_attr }} href="{{ quoted_link_inside }}">“<span {{ quoted_link_inner_attr }}>{% endcapture %}

            {% assign link_handles_result = link_handles_result | replace_first:quoted_link_replace_from,quoted_link_replace_to %}
        {% endfor %}
        {% assign link_handles_result = link_handles_result | replace:'</a>”','</span>”</a>' %}
    {% endif %}

    <!-- Smart post links -->
    {% for post in site.posts %}
        {% assign with = "" %}
        {% if lang != site.default_lang %}
            {% if post.categories contains lang %}
                {% assign with = post.id %}
            {% endif %}
        {% else %}
            {% assign is_ok = true %}
            {% for l in site.langs %}
                {% if post.categories contains l %}
                    {% assign is_ok = false %}
                {% endif %}
            {% endfor %}
            {% if is_ok == true %}
                {% assign with = post.id %}
            {% endif %}
        {% endif %}
        {% if with != "" %}
            {% capture with %}START^^^{{ with }}{% endcapture %}
            {% assign with = with | remove:'START^^^/' %}

            <!-- Add check on dev mode with running server to remove `index.html` -->
            {% if site.relative_urls_when_possible == true and dev %}
                {% assign with_postfix = 'index.html' %}
            {% endif %}

            {% capture what1 %}href=":{{ post.id | split:"/" | last }}"{% endcapture %}
            {% capture what2 %}href=":{{ post.id | split:"/" | last }}#{% endcapture %}
            {% capture with1 %}href="{{ root_url }}{{ with }}/{{ with_postfix }}"{% endcapture %}
            {% capture with2 %}href="{{ root_url }}{{ with }}/{{ with_postfix }}#{% endcapture %}
            {% assign link_handles_result = link_handles_result | replace:what1,with1 %}
            {% assign link_handles_result = link_handles_result | replace:what2,with2 %}
            {% assign with = "" %}
        {% endif %}
    {% endfor %}

    <!-- Replace relative hash links with a normal url for feeds -->
    {% if page.page_type == 'feed' %}
        {% capture link_hash_replace %}href="{{ root_url }}{{ post.url | remove:'index.html' }}/#{% endcapture %}
        {% assign link_handles_result = link_handles_result | replace:'href="#',link_hash_replace %}
    {% endif %}

{% endcapture %}
