<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Stylus</string>
	<key>uuid</key>
	<string>DD7889E4-2ACA-4DF5-838F-FC9D7AEAF3F1</string>
</dict>
</plist>
