
@font-families: "Lucida Grande", Arial, sans-serif
@font-size: 14px
@primary-color: #3a3a3a
@width: 800px

body
  font @font-size @font-families
  background white
  color @primary-color

h1
  font-size @font-size + 10px
  color @primary-color + #030303

h2
  color @primary-color - rgba(0,0,0,0.5)

#wrapper
  width @width

.side-bar
  width @width / 3