
bg(color = white)
  background color

pad(x, y, margin = false)
  padding y x y x
  if margin
    margin y x y x

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

lighten(color)
  color - rgba(0,0,0,0.5)

body
  pad(5px, 10px, true)

form input
  size = 5px
  background lighten(#fff)
  border-radius(size)
  pad(size, size * 2)

a
  bg()

a.button
  bg(red)