!!! 5
html
  head
    title Stylus
    link(rel='stylesheet', href='main.css')
  body
    h1 Stylus
    p.tagline 
      em.expressive Expressive, 
      em.dynamic dynamic, 
      em.robust robust 
      em.css CSS
