
large = 60px
small = 14px
dark-gray = #2C2C2C

body
  padding 50px
  font small 'helvetica neue', helvetica, arial, sans-serif

h1
  margin 10px 0 15px 0
  font-weight bold
  font-size large

.tagline
  margin 0
  padding 0
  em
    font-style normal
    &.expressive
      color dark-gray
    &.dynamic
      color lighten(dark-gray, 20%)
    &.robust
      color lighten(dark-gray, 40%)
    &.css
      color lighten(dark-gray, 60%)
