
large = 60px
small = 14px
bright-blue = #03AFFF
bright-orange = #FF4A03
bright-yellow = #FFCD03

body
  padding 50px
  font small 'helvetica neue', helvetica, arial, sans-serif

h1
  margin 5px
  font-weight bold
  font-size large

.tagline
  margin 5px 0
  padding 0
  em
    font-style normal
    &.expressive
      color bright-blue
    &.dynamic
      color bright-orange
    &.robust
      color bright-yellow
    &.css
      color #858585