h1 
  a(href='http://learnboost.github.com/stylus') Stylus
p.tagline 
  em.expressive Expressive, 
  em.dynamic dynamic, 
  em.robust robust 
  em.css CSS
#ribbon
  a(href='http://github.com/learnboost/stylus') Fork me on GitHub