!!! 5
html
  head
    title Stylus
    link(rel='stylesheet', href='try.css')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='codemirror.css')
    script(src='jquery.js')
    script(src='stylus.js')
    script(src='codemirror.js')
    script(src='css-mode.js')
    script(src='try.js')
  body
    #container
      include top
      #content
        .example
          p Stylus supports regular CSS syntax:
          textarea.stylus
            body {
              font: 14px/1.5 Helvetica, arial, sans-serif;
            }
            #logo {
              border-radius: 5px;
            }
          textarea.css

        .example
          p Selector nesting enables you to keep your styles DRY:
          textarea.stylus
            body {
              font: 14px/1.5 Helvetica, arial, sans-serif;
              #logo {
                border-radius: 5px;
              }
            }
          textarea.css

        .example
          p Semi-colons, colons, and braces are optional:
          textarea.stylus
            body
              font 14px/1.5 Helvetica, arial, sans-serif
              #logo
                border-radius 5px
          textarea.css

        .example
          p.
            Transparent mixins are a feature unique to Stylus,
            and are a incredibly powerful enhance your stylesheets. Here all the arguments
            passed are simply assigned to three properties. Stylus knows not to recursively
            invoke the border-radius() mixin.
          textarea.stylus
            border-radius()
              -webkit-border-radius: arguments
              -moz-border-radius: arguments
              border-radius: arguments

            body {
              font: 14px/1.5 Helvetica, arial, sans-serif;
              #logo {
                border-radius: 5px;
              }
            }
          textarea.css

        .example
          p Stylus property access provides easy access to values defined within the current block.
          textarea.stylus
            #prompt
              position: absolute
              top: 150px
              left: 50%
              width: 200px
              margin-left: -(@width / 2)
          textarea.css

        .example
          p.
            Stylus is not just a pre-processor,
            it's is a flexible and powerful language. Combined with
            the concept of transparent mixins you can create robust
            cross-browser support, or simply making your life easier
            with customized CSS properties as shown below:
          textarea.stylus
            -pos(type, args)
              i = 0
              position: unquote(type)
              {args[i]}: args[i + 1] is a 'unit' ? args[i += 1] : 0
              {args[i += 1]}: args[i + 1] is a 'unit' ? args[i += 1] : 0

            absolute()
              -pos('absolute', arguments)

            fixed()
              -pos('fixed', arguments)

            #prompt
              absolute: top 150px left 5px
              width: 200px
              margin-left: -(@width / 2)

            #logo
              fixed: top left
          textarea.css