!!! 5
html
  head
    title Stylus
    link(rel='stylesheet', href='try.css')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='codemirror.css')
    script(src='jquery.js')
    script(src='stylus.js')
    script(src='codemirror.js')
    script(src='css-mode.js')
    script(src='try.js')
  body
    #container
      include top
      #content
        .example
          textarea.stylus
            body {
              font: 14px/1.5 Helvetica, arial, sans-serif;
            }
            #logo {
              border-radius: 5px;
            }
          textarea.css

        .example
          textarea.stylus
            body {
              font: 14px/1.5 Helvetica, arial, sans-serif;
              #logo {
                border-radius: 5px;
              }
            }
          textarea.css

        .example
          textarea.stylus
            body {
              font: 14px/1.5 Helvetica, arial, sans-serif
              #logo {
                border-radius: 5px
              }
            }
          textarea.css

        .example
          textarea.stylus
            body
              font 14px/1.5 Helvetica, arial, sans-serif
              #logo
                border-radius 5px
          textarea.css

        .example
          textarea.stylus
            border-radius()
              -webkit-border-radius: arguments
              -moz-border-radius: arguments
              border-radius: arguments

            body {
              font: 14px/1.5 Helvetica, arial, sans-serif;
              #logo {
                border-radius: 5px;
              }
            }
          textarea.css

        .example
          textarea.stylus
            #prompt
              position: absolute
              top: 150px
              left: 50%
              width: 200px
              margin-left: -(@width / 2)
          textarea.css