args(n = null)
  length(n)

vargs(args...)
  length(args)

body
  foo length()
  foo length(args())
  foo length(1)
  foo length((1 2) (3 4))
  foo length(1 2 3)
  foo vargs(1, 2, 3, 4)
  foo args(1 2 3 4 5)