body
  background red(#fc0)
  background green(#fc0)
  background blue(#fc0)
  background alpha(#fff - rgba(0,0,0,.6))
  
  background hue(hsl(15deg,100%,60%))
  background saturation(hsl(15deg,100%,60%))
  background lightness(hsl(15deg,100%,60%))