
// foo = 'bar'

body
  color red
  // lots of stuff
  // wahoo

  // super cool
 
  // background green

form
  background white

/*

body
  a
    color blue

*/
// rawr

html>/**/body select
x:-moz-any-link
x:default select
  font-weight bold !important