
body {
  margin: 0;
  padding: 5px;
  ul {
    /* test */
    margin: 0;
    li:first-child {
      border-top: none;
      // test
    }
    // test
    li:last-child {
      border-bottom: none;
    }
  }
}

ul {
  li {
    &:first-child,
    &:last-child {
      display: none;
    }
  }
}