
sum(nums...)
  sum = 0
  for n in nums
    sum = sum + n
  n

sum2(nums...)
  sum = 0
  for n in nums
    sum += n

body
  foo sum(1,2,3,4)
  foo sum2(1,2,3,4)

concat(strings...)
  buf = ''
  for s in strings
    buf = buf + s
  buf

concat2(strings...)
  buf = ''
  for s in strings
    buf += s

body
  foo concat('one', 'two', 'three')
  foo concat2('one', 'two', 'three')


join(delim, strings...)
  buf = ''
  for s, i in strings
    if i
      buf = buf + delim + s
    else
      buf = '' + s
  buf

join2(delim, strings...)
  buf = ''
  for s, i in strings
    if i
      buf += delim + s
    else
      buf += '' + s

body
  foo join(', ', 'one', 'two', 'three')
  foo join(' ', '1', '2', '3')
  foo join(', ', 1, 2, 3)
  foo join2(', ', 1, 2, 3)

body
  fonts = Impact Arial sans-serif
  for font, i in fonts
    foo i font