
sum(nums...)
  sum = 0
  for n in nums
    sum = sum + n
  n

body
  foo sum(1,2,3,4)

concat(strings...)
  buf = ''
  for s in strings
    buf = buf + s
  buf

body
  foo concat('one', 'two', 'three')


join(delim, strings...)
  buf = ''
  for s, i in strings
    if i
      buf = buf + delim + s
    else
      buf = s
  buf

body
  foo join(', ', 'one', 'two', 'three')
  foo join(' ', '1', '2', '3')

body
  fonts = Impact Arial sans-serif
  for font, i in fonts
    foo i font