
large(n)
  unless n is a 'unit'
    return false
  if n > 100
    yes
  else
    no

awesome()
  yes

nested()
  a = 5
  if a is a 'unit'
    b = 10
    if a
      c = 100
      c = 100
      c = 100
      c = 100
      awesome()
    else
      'b is not a unit'
  else
    'a is not a unit'

body
  // no
  foo large(15)
  
  // yes
  foo large(150)

  // false
  foo large('string')
  
  // yes
  foo nested()