@media print and (width: 21cm) and (height: 29cm) {
  body {
    margin: 3cm;
    padding: 0;
  }
}
@media print {
  @page :left {
    margin-left: 5px;
  }
  @page :right {
    margin-right: 5px;
  }
}