body {
  foo: 5px;
  foo: 0px;
  foo: false;
  foo: true;
  foo: 5px;
  foo: 0px;
  foo: 0;
  foo: false;
  foo: 10;
  foo: #000;
  foo: 1;
  foo: true;
  foo: true;
  foo: false;
  foo: true;
  foo: true;
  foo: true;
  foo: false;
  foo: wahoo;
  foo: nope;
  foo: "got 15px";
  foo: 5;
}