body
  foo ()[0] == null
  foo ((1 2 3))[0]
  foo (1 2 3)[0]
  foo (1 2 3)[1]
  foo (1 2 3)[2]
  foo (1 2 3)[3] == null
  foo (1 2 3)[-1] == null
  foo (1 2 3)['test'] == null
  foo !(1 0)[1]
  foo !(1 0)[0]
  foo - - -(1 2 3 4 5)[4]
  foo (1 (2 3))[1]
  foo (1 (2 (3)))