body {
  foo: true;
  foo: 1 2 3;
  foo: 1;
  foo: 2;
  foo: 3;
  foo: true;
  foo: true;
  foo: true;
  foo: true;
  foo: false;
  foo: -5;
  foo: 2 3;
  foo: 1 2 3;
  foo: 1;
}
body {
  foo: error;
  foo: "message";
}
body {
  foo: 5;
  foo: 10;
}
body {
  foo: 5 10;
}
body {
  foo: 5 10;
}