body
  form input.hide,
  foo bar,
  .hidden
  &:hover
  &:focus
    display none

body
  form input, .hidden
    display none

ul
  > li
    padding 5px

body
  form > input:nth-child(2)
    border 1px solid #eee