
mixin()
  td:nth-of-type(2)
  td:nth-of-type(3)
    background black

ul
  mixin()

table
  td:nth-child(2)
  td:nth-child(3)
  td:nth-child(4)
  td:nth-child(5)
  td::first-letter
    background black
    li:first-child
    li:last-child
      background white

table
  :nth-child(2)
  :nth-child(3)
    background black