
body
  background #fff - (rgba(250,0,0,0.5) + rgba(5,0,0,0))
  color #ffcc00 - #f00

a
  color (#fff / 2)


body {
  color: (#919191 * 0.2);
  color: (#919191 / 2);
  color: (#919191 * 20%);
}

body {
  color: hsl(#919191) * 0.2;
  color: 0.2 * hsl(#919191);
  color: (hsl(#919191) / 2);
  color: hsl(#919191) * 20%;
}

body {
  color: darken(#888, 75%);
  color: #888 - 75%;
  color: #888 - 75;
}

body {
  color: lighten(#888, 20%);
  color: #888 + 20%;
  color: #888 + 20;
}

body {
  color: #888 - 20%;
  color: #888 - 20;
  color: #E21E1E - 80%;
}

$color = hsl(120deg, 90%, 60%);

body {
  color: $color;
  color: $color + 20deg;
  color: $color - 20deg;
}