body {
  background: rgba(0,255,255,0.5);
  color: #0c0;
}
a {
  color: #808080;
}
body {
  color: #1d1d1d;
  color: #494949;
  color: #fff;
}
body {
  color: #1d1d1d;
  color: #1d1d1d;
  color: #494949;
  color: #fff;
}
body {
  color: #222;
  color: #222;
  color: #3d3d3d;
}
body {
  color: #a3a3a3;
  color: #a3a3a3;
  color: #9c9c9c;
}
body {
  color: #6d6d6d;
  color: #747474;
  color: #2d0606;
}
body {
  color: #3df53d;
  color: #3df57a;
  color: #7af53d;
}