body {
  foo: #ce4e4e;
  foo: #ce4e4e;
}
body {
  foo: #ba3a3a;
  foo: #ba3a3a;
}
body {
  foo: #d06969;
  foo: #d06969;
}
body {
  foo: #a13333;
  foo: #a13333;
}
body {
  foo: #c46f44;
  foo: #c46f44;
}
body {
  foo: #c4446f;
  foo: #c4446f;
}
body {
  foo: #c476a8;
  foo: #c476a8;
}
body {
  foo: #c476a8;
  foo: #c41200;
}
body {
  foo: #ed834e;
  foo: #ed834e;
}
body {
  foo: #825363;
  foo: #825363;
}
body {
  color: true;
  color: true;
}