
body
  background #fff - (rgba(250,0,0,0.5) + rgba(5,0,0,0))
  color #ffcc00 - #f00

a
  color (#fff / 2)


body {
  color: (#919191 * 0.2);
  color: (#919191 / 2);
  color: (#919191 * 20%);
}

body {
  color: hsl(#919191) * 0.2;
  color: 0.2 * hsl(#919191);
  color: (hsl(#919191) / 2);
  color: hsl(#919191) * 20%;
}