body {
  background: 255;
  background: 204;
  background: 0;
  background: 0.4;
  background: 15deg;
  background: 100%;
  background: 60%;
}
.setters {
  background: #0c0;
  background: #f00;
  background: #fc0;
  background: #3c0;
  background: #f30;
  background: #fc3;
}
