body
  foo 0 * 0.1rem
  foo 1 * 0.1rem
  foo 2 * 0.1rem
  foo 3 * 0.1rem
  foo 4 * 0.1rem
  foo 5 * 0.1rem
  foo 6 * 0.1rem
  foo 7 * 0.1rem
  foo 8 * 0.1rem
  foo 9 * 0.1rem
  foo 10 * 0.1rem
  foo 11 * 0.1rem
  foo 12 * 0.1rem
  foo 13 * 0.1rem
  foo 14 * 0.1rem
  foo 15 * 0.1rem
  foo 16 * 0.1rem
  foo 17 * 0.1rem
  foo 18 * 0.1rem
  foo 19 * 0.1rem
  foo 20 * 0.1rem

  foo ( 100% / 2 )
  foo ( 100% / 3 )
  foo ( 100% / 4 )
  foo ( 100% / 5 )
  foo ( 100% / 6 )
  foo ( 100% / 7 )
  foo ( 100% / 8 )
  foo ( 100% / 9 )
  foo ( 100% / 10 )
  foo ( 100% / 11 )
  foo ( 100% / 12 )

  foo (1 / 3) * 3
  foo (1 / 6) * 6
  foo (1 / 9) * 9
