nums = (1 2 3)

body
  foo: pop(nums)
  foo: nums
  foo: pop(nums)
  foo: nums
  foo: pop(nums)
  foo: nums
  foo: pop(nums)
  foo: nums
  foo: length(nums)

num = (1 2 3)

body
  foo: shift(nums)
  foo: nums
  foo: shift(nums)
  foo: nums
  foo: shift(nums)
  foo: nums
  foo: length(nums)