body {
  foo: '1 2 3';
  foo: '1, 2, 3';
  foo: '1,2,3';
  foo: '1';
  foo: true;
}
body {
  foo: '1, 2, 3';
  foo: 'one 1, two 2, three 3';
}
body {
  foo: '1 2, #fff #000, 5px 6px';
  foo: '1 2, 3 4, 5 6';
  foo: '1 2, 3 4, 5 6';
  foo: '1, 2, 3, 4, 5, 6';
  foo: '1, 2, 3, 4, 5, 6';
  foo: 'hsla(0,0%,0%,1), hsla(120,20%,80%,1)';
  foo: 'hsla(120,20%,80%,1), hsla(90,0%,0%,1)';
}
