json('import.json/vars.json')

@media queries-small
  body
    //string variable
    display nope
    //color calc
    color darken(color, 50%)
    //color calc rgb(a)
    background-color: darken(background-color, 50%)
    border-color: fade-color
    //color calc alias (i.e. "purple")
    outline-color: darken(bg, 50%)
    //number variable
    padding spacing
    //acts the same as regular variables
    outline 1.5 * spacing
    margin gutter * 2
    if awesome
      border red

//nested json variable
@media queries-large
  body
    //deep nested json variable
    -webkit-transition animate-special-out