body {
  background: #ff0800;
  background: rgba(255,255,0,0.2);
  background: rgba(255,204,0,0.5);
  background: rgba(255,255,0,0.25);
  background: rgba(255,255,0,0.258);
  background: rgba(255,255,0,0.258);
  background: rgba(0,0,0,0.4);
  background: rgba(0,0,0,0.4);
  background: rgba(0,0,0,0.4);
  background: rgba(0,0,0,0.4);
}