foo(arguments)
  +cache(arguments)
    width: arguments

.a
  foo: 10px

.b
  foo: 20px

@media only screen and (min-width: 1024px)
  .c
    foo: 10px

.d
  foo: 10px

@media only screen and (min-width: 1024px)
  .e
    foo: 10px

@media only screen and (min-width: 1024px)
  .f
    foo: 20px

@media only screen and (min-width: 1600px)
  .f
    foo: 10px

.g
  @media only screen and (min-width: 1600px)
    foo: 10px

bar()
  +cache()
    @media only screen and (min-width: 600px)
      width: 10px

.h
  bar()


$media-breakpoints ?= {
  'sm': 568px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1400px
}

reset($size = '')
  +cache('reset-' + $size)
    list-style none outside none
    margin-left 0
    margin-right 0
    padding 0

$at = '\@'
for $breakpoint, $value in $media-breakpoints
  @media (min-width: $value)
    .foo{$at}{$breakpoint}
      reset($breakpoint)
      width 50px

    .bar{$at}{$breakpoint}
      reset($breakpoint)
      width 60px


@media (min-width: $media-breakpoints.sm)
  .qux{$at}sm
    reset('sm')

@media (min-width: 568px)
  .quux{$at}sm
    reset('sm')

@media (min-width: $media-breakpoints.sm)
  .garply{$at}sm
    reset('sm')
