json('import.json/vars.json')

@media queries-small
  body
    //string variable
    background bg
    //number variable
    padding spacing
    //acts the same as regular variables
    outline 1.5 * spacing
    margin gutter * 2
    if awesome
      border red

//nested json variable
@media queries-large
  body
    //deep nested json variable
    -webkit-transition animate-special-out

.a
  prefix = '$'
  json('import.json/local-vars.json', true, prefix)
  color $params-color
  width 10px * $a
  height 10px * $b
  background $bg

.b
  color $params-color
