.math
  test1: ceil(0.5)
  test2: floor(0.5)
  test3: round(0.5)
.math_units
  test1: ceil(0.5px)
  test2: floor(0.5px)
  test3: round(0.5px)
.math_precision0
  test1: ceil(0.47,0)
  test2: floor(0.47,0)
  test3: round(0.47,0)
.math_precision1
  test1: ceil(0.47,1)
  test2: floor(0.47,1)
  test3: round(0.47,1)
.math_precision2
  test1: ceil(0.472,2)
  test2: floor(0.472,2)
  test3: round(0.472,2)

