body
  background: lighten-by(black, 50%)
  background: lighten-by(lighten-by(black, 50%), 50%)
  background: lighten-by(lighten-by(lighten-by(black, 50%), 50%), 50%)
  foo lighten(#52a8e8, 10%)
  // => #7fbfee
