body {
  color: rgba(238,238,238,0.8);
  color: rgba(238,238,238,0.5);
  color: #eee;
  color: rgba(238,238,238,0.4);
}
.test-percent-values {
  color: rgba(238,238,238,0.8);
  color: rgba(238,238,238,0.5);
  color: #eee;
  color: rgba(238,238,238,0.4);
}
