
// foo = 'bar'

body
  color red
  // lots of stuff
  // wahoo

  // super cool

  // background green

form
  background white

/*

body
  a
    color blue

*/
// rawr

.abc
  background: // comment here,
    url("img.png") 8px 8px no-repeat,
    rgba(0, 0, 0, .41);


