@scope ( .feature ) to ( .limit )
  .spacey
    color: blue

@scope ( .feature , .sidebar ) to ( .limit , .ceiling )
  .range
    color: green

@scope #legacy
@scope (.modern) to (.limit)
  .inside-modern
    color: yellow

a
  color: black
