@-webkit-keyframes bouce {
  0% {
    foo: bar;
  }

  50% {
    foo: bar;
  }

  100% {
    foo: bar;
  }
}
@-webkit-keyframes bouce {
  0% {
    foo: bar;
  }

  50% {
    foo: bar;
  }

  100% {
    foo: bar;
  }
}
@-webkit-keyframes bouce {
  0% {
    foo: bar;
  }

  50% {
    foo: bar;
  }

  100% {
    foo: bar;
  }
}
@-webkit-keyframes something {
  0% {
    color: red;
  }

  100% {
    color: blue;
  }
}