
@keyframes bouce {
  from {
    foo: bar;
  }

  50% {
    foo: bar;
  }

  to {
    foo: bar;
  }
}

@keyframes bouce {
  from { foo: bar; }
  50% { foo: bar; }
  to { foo: bar; }
}


@keyframes bouce {
  from { foo: bar; }
  
  
  50% { foo: bar; }
  
  to { foo: bar; }
}

animate(name) {
  @keyframes name {
    from { color: red; }
    to { color: blue; }
  }
}

animate(something)