
@keyframes bouce {
  from {
    foo: bar;
  }

  50% {
    foo: bar;
  }

  to {
    foo: bar;
  }
}

@keyframes bouce {
  from { foo: bar; }
  50% { foo: bar; }
  to { foo: bar; }
}


@keyframes bouce {
  from { foo: bar; }
  
  
  50% { foo: bar; }
  
  to { foo: bar; }
}
