@-webkit-keyframes something {
  0% {
    color: #f00;
  }

  100% {
    color: #00f;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bouce {
  0% {
    foo: bar;
  }

  50% {
    foo: bar;
  }

  100% {
    foo: bar;
  }
}
@-webkit-keyframes bouce {
  0% {
    foo: bar;
  }

  50% {
    foo: bar;
  }

  100% {
    foo: bar;
  }
}
@-webkit-keyframes bouce {
  0% {
    foo: bar;
  }

  50% {
    foo: bar;
  }

  100% {
    foo: bar;
  }
}
