.embed-no-hash {
  color: #c00;
  background: url("circle.svg");
}

.embed-with-hash {
  color: #c00;
  background: url("circle.svg#some-id");
}

.too-big-no-hash {
  color: #c00;
  background: url("tiger.svg");
}

.too-big-with-hash {
  color: #c00;
  background: url("tiger.svg#some-id");
}
