
naive-type(val = null)
  if val is a 'unit'
    unit
  else if val is a 'color'
    color
  else if val is a 'string'
    string
  else
    unknown

body
  foo naive-type('test')
  foo naive-type(12)
  foo naive-type(#fff)
  foo naive-type()
