@import "import.json/variables.json"

@media queries-small
  body
    //json variable
    margin spacing
    color #fff

//nested json variable
@media queries-large
  body
    //deep nested json variable
    -webkit-transition animate-special-fluid