
@-moz-keyframes foo
  from
    color: black
  to
    color: white

@keyframes foo {
  from {
    width: 100%
  }
  50% {
  }
  to {
  }
}

@keyframes bar {
  from {
  }
  to {
  }
}

vendors = official

@keyframes active
  for i in 0..10
    percent = unit(i * 10, '%')
    {percent}
      background-image: radial-gradient(yellow 0%, red percent, black 100%)

foo()
  0%
    color: red
  100%
    color: yellow

@keyframes foo
  foo() if true
