body {
  font: 14px;
}

a { text-decoration: none; }
#login {
  border-radius: /;
  border-radius: true;
  border-radius: true;
}
#login {
  color: #f00;
background: url("test.png");
}
#test,
#logon {
width: 100%
}
#logon {
  color: #f00;
}
