body {
  color: #eee;
  color: #efefef;
  color: #fc0;
  color: rgba(255,204,0,0.4);
  color: #fc0;
  color: rgba(255,204,0,0.4);
  color: #fff;
  color: rgba(255,255,255,0.5);
  color: rgba(3,3,3,0.75);
  color: rgba(3,3,3,0.75);
  color: rgba(50,50,50,0.75);
  color: rgba(50,50,50,0.75);
  color: rgba(50,50,50,0.75);
}
