.popup
  box-shadow:
    0 -2px 2px            hsl(220, 20%, 40%),
    0 -10px 10px          hsl(220, 20%, 20%),
    0 0 15px              black,

    inset 0 5px 1px       hsla(220, 80%, 10%, 0.4), 
    inset 0 0 5px         hsla(220, 80%, 10%, 0.1),
    inset 0 20px 15px     hsla(220, 80%, 100%, 1),

    inset 0 1px 0         hsl(
                            219,
                            20%,
                            0%
                          ), 

    inset 0 1px 0         hsl(
                            219
                          , 20%
                          , 0%
                          ),

    inset 0 -50px 50px -40px hsla(220, 80%, 10%, .3),

    inset 0 -1px 0px      hsl(220, 20%, 20%),
    inset 0 -2px 0px      hsl(220, 20%, 40%),
    inset 0 -2px 1px      hsl(220, 20%, 65%), 
    inset 0 -3px 0px      hsl(220, 20%, 50%),
    inset 0 -4px 0px      hsl(220, 20%, 50%),
    inset 0 -5px 0px      hsl(220, 20%, 70%),
    inset 0 -5px 1px      hsl(220, 20%, 50%), 
    inset 0 -6px 0px      hsl(220, 20%, 60%),
    inset 0 -7px 0px      hsl(220, 20%, 60%),
    inset 0 -8px 0px      hsl(220, 20%, 80%),
    inset 0 -8px 1px      hsl(220, 20%, 70%), 
    inset 0 -9px 0px      hsl(220, 20%, 100%),

    inset 0 -20px 20px    hsla(220, 80%, 10%, 0.15),

    inset 25px 20px 15px  hsla(220, 20%, 40%, 0.1),
    inset 50px 20px 50px  hsla(220, 20%, 40%, 0.1)
  foo: 'bar'

families = Helvetica,
  Arial,
  sans-serif

body
  font-families: families

a = {}

bar(obj, bool)
  obj.params = { foo: 'bar' }

baz(params)
  body
    foo: params.foo

foo()
  if true
    bar(a,
      true)

  baz(a.params)

foo()
