mobile(content)
  @media screen and (min-width: 30em)
    {content}

tablet(content)
  @media screen and (min-width: 48em)
    {content}

.sidebar
  mobile({ width: 10em })
  tablet({ width: 20px })

props = {
  color: red
  width: 400px
}

bar(block, content, int)
  .foobar-{int}
    &:first-child
      {block}
    {content}

.foo
  bar({ blah: 2rem }, props, 4)

foo = {
  width: 10px
  bar: 30px
}

bar() {
  height: arguments
}

.test {
  {foo}
}

foo = {
  width: 10px
  '&:hover': {
    background: red
  }
}

.test {
  {foo}
}

foo = {
  '.foo': {
    background: red
    '&:hover': {
      background: lime
    }
  }
  '@media screen and (min-width:1px) and (max-width:400px)': {
    '.foo': {
      display: none
    }
  }
}

{foo}
