.foo {
  test: true;
}
.foo {
  background: baz;
}
body {
  test: bar;
}
body {
  test: 'baz';
  test: 'baz';
}
.foo {
  test: 10px;
  test: 10px;
  test: 10px;
  test: 10px;
  test: 10px;
  test: 10px;
  test: 10px;
  test: 10px;
}
body {
  width: 10px;
}
