body {
  foo: 'bar';
  foo: 'baz';
  foo: 'bar' 'raz' 'raz';
  foo: 'bar' 'baz';
}
body {
  foo: 'object';
  bar: true;
  baz: false;
  foo: 'bar';
  foo: 'bar';
  bar: 'baz';
  bar: 'baz';
  baz: 'raz';
  baz: 'raz';
  color: #c00;
}
body {
  foo: 0.25em 0.35;
  foo: 0.25em 0.35 0.5em 0.7em;
  foo: 0.25em 0.35;
  foo: 0.6em;
}
body {
  foo: true;
  foo: Wahoo;
}
body {
  foo: Jane;
  foo: Tobi;
  foo: Tobi;
  foo: Tobi;
}
body {
  foo: Tobi, a 2 year old ferret;
}
body {
  foo: Ferret;
  bar: Ferret;
  baz: nuts;
}
body {
  color: #0c0;
}
body {
  color: 1;
}
body {
  color: 2;
}
body {
  color: 3;
}
