body
  
  foo 1 != 5
  
  foo wahoo == wahoo
  
  foo wahoo == something == false
  
  foo wahoo != something
  foo wahoo is not something

  foo = yay
  foo yes == (foo is defined ? yes : nope)
  
  rawr = 'asdfasdf'
  foo yes == (rawr is defined ? yes : nope)
  
  foo 1000ms == 1s
  
  foo 1ms == 1s == false

  foo 5 < 10 and 10 > 5