body {
  foo: true;
  foo: true;
  foo: true;
  foo: true;
  foo: true;
  foo: true;
  foo: true;
  foo: true;
}
body {
  foo: true;
  foo: true;
  foo: true;
}
body {
  foo: true;
  foo: true;
  foo: true;
}
body {
  foo: true;
  foo: true;
}
body {
  foo: true;
  foo: true;
}