body
  
  // true
  foo 1 != 5
  
  // true
  foo wahoo == wahoo
  
  // false
  foo wahoo == something
  
  // true
  foo wahoo != something
  foo wahoo is not something

  // true
  foo = yay
  foo yes == (foo is defined ? yes : nope)
  
  // true
  rawr = 'asdfasdf'
  foo yes == (rawr is defined ? yes : nope)
  
  // true
  foo 1000ms == 1s
  
  // false
  foo 1ms == 1s
  
  // true
  foo 5 < 10 and 10 > 5