body
  small = 1..5
  large = (1..5) (6..10)
  
  foo small
  foo large
  
  foo small[0]
  foo large[0]
  
  foo length(small)
  foo length(large)

  foo small[length(small) - 1]
  foo large[length(large) - 1]
  
  foo small[-1] == null
  foo small[123123] == null

body
  start = 1
  end = 3
  foo start..end