body
  foo 1 == 1
  foo '1' == 1
  foo 1 == '1'
  foo 1 == '5' == false
  foo 5 == 1 == false
  foo 5 != 1
  foo 5 != asdf
  foo 5 == asdf == false

body
  foo 1000ms == 1s
  foo 1s == 1000ms
  foo 1s == 500ms == false

body
  foo wahoo == wahoo
  foo wahoo == 'wahoo'
  foo wahoo == unquote('wahoo')

body
  foo unquote('wahoo') == wahoo
  foo 'wahoo' == wahoo

body
  something = 'yay'
  foo yes == (something is defined ? yes : nope)
  foo nope == (whatever is defined ? yes : nope)