
mixin()
  if true
    foo 6
    foo 7 if true
    foo 8 unless true

body
  foo 1
  foo 2 if true
  foo 3 unless false
  if true
    foo 4
    foo 5
  mixin()

body
  foo 1 if false
  foo 2 unless true
  foo 3

above-5(n)
  true if n > 5

body
  foo above-5(2) == null
  foo above-5(6) == true

below-5(n)
  return true unless n > 5
  false

body
  foo below-5(3) == true
  foo below-5(7) == false

body
  foo 5 unless 5 + 5 == 10

body
  foo 5 if 5 + 5 == 10 and true

mixin()
  foo bar
  foo baz

body
  mixin() if true
  mixin() unless true

body
  mixin test if true