#logo
  position: absolute
  top: 50%
  left: 50%
  width: 150px
  height: 80px
  margin-left: -(@width / 2)
  margin-top: -(@height / 2)
  unknown: @something == null

multiple
  foo: bar baz raz
  bar: @foo

no-props
  foo: @bar