
foo bar baz
  foo bar

foo > bar
  foo bar

input[type=text]
  foo bar

input[type="text"]
  foo bar

*
  foo bar

* .foo-bar
  foo bar

body > #container *
  foo bar

#foo > #bar + .baz
  foo bar
#foo>#bar
  foo bar

p + p ~ p
  foo bar

ul :odd
  foo bar

ul > li:last-child
  foo bar

ul > li:nth-child(2n)
  foo bar

*, p + p, ul > li
  foo bar