ul td:nth-of-type(2),
ul td:nth-of-type(3) {
  background: #000;
}
table td:nth-child(2),
table td:nth-child(3),
table td:nth-child(4),
table td:nth-child(5),
table td:first-letter {
  background: #000;
}
table td:nth-child(2) li:first-child,
table td:nth-child(3) li:first-child,
table td:nth-child(4) li:first-child,
table td:nth-child(5) li:first-child,
table td:first-letter li:first-child,
table td:nth-child(2) li:last-child,
table td:nth-child(3) li:last-child,
table td:nth-child(4) li:last-child,
table td:nth-child(5) li:last-child,
table td:first-letter li:last-child {
  background: #fff;
}
table :nth-child(2),
table :nth-child(3) {
  background: #000;
}
table td:after,
table td .after {
  background: #f00;
}
table td {
  background: #fff;
}
table td:before,
table td::before {
  color: #008000;
}
table td:selection,
table td::selection {
  color: #f00;
}
table td:first-line {
  color: #ff0;
}
table td::first-letter {
  color: #000;
}
