body {
  color: 204;
}
body {
  font: 14px 'Lucida Grande', Arial, sans-serif;
  padding: 5px;
  margin: 5px;
}
a {
  font: 11px Impact, 'Lucida Grande', Arial, sans-serif, serif;
  border: 1px solid #fff;
  color: #fff;
  background: 10px #ddd;
  margin: 14px;
}
@media screen and (max-width: 1024px) {
  a {
    background: 20px #ccc;
  }
}
.test div input.margin[type] {
  padding: 20px;
}
.test div input.margin[type] div input.margin[type=text] {
  color: #f00;
}
a.margin,
em {
  padding: 10px 20px;
  margin: 10px 20px 30px 40px;
  padding-left: 10px;
}
a.margin-pin,
em-pin {
  absolute: top -11px;
  background-color: #ddd;
  top: 10px;
}
.test {
  background: linear-gradient(rgba(255,255,255,0) 0%, #f0f 90%);
  background-color: #ddd;
  height: 10px;
  line-height: 10px;
}
.test_some {
  color: #f00;
  background: #ddd;
}
