
@-moz-viewport {
  width: device-width;
}
@-webkit-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
