<!DOCTYPE html>{% include setup.md %}
<html class="page{{ page_lang_class }}{{ page_type_class }}{{ page_category_class }}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=edge"/><!--[if gt IE 7]><!-->
    <link rel="stylesheet" href="{{ root_url }}s/style.css" /><!--<![endif]--><!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ root_url }}s/style.ie.css" /><![endif]-->

    <title>{{ title }} — {% if is_index %}expressive, robust, feature-rich CSS preprocessor{% else %}Stylus{% endif %}</title>
</head>
<body class="page-body">
    <div id="container">
        <h1><a{% unless is_index %} href="{{ root_url }}"{% endunless %}>Stylus</a></h1>
        <p class="tagline">
            <em class="expressive">Expressive, </em>
            <em class="dynamic">dynamic, </em>
            <em class="robust">robust </em>
            <em class="css">CSS</em>
        </p>
        <ul id="menu">
            {% capture menu_cache %}
                {% assign menu_result = '' %}
                {% assign current_post_name = page.url | remove:'index.html' %}
                {% for item in site.menu %}
                    {% capture item_languaged %}/{{ lang_prefix }}{{ item }}{% endcapture %}
                    {% for post in site.pages %}
                        {% assign post_name = post.url | remove:'index.html' %}

                        {% if item_languaged == post_name %}
                            {% assign get_title_input = post %}
                            {% include tenkan/get_title.md %}
                            {% capture menu_result %}{{ menu_result }}
            <li>{% if post_name != current_post_name %}<a href="{{ site.production_url }}{{ post.url | remove:'index.html' }}">{% else %}<strong>{% endif %}
                {{ get_title_output }}
            {% if post_name != current_post_name %}</a>{% else %}</strong>{% endif %}</li>
                            {% endcapture %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endcapture %}{{ menu_result }}
            <li><a href="http://tj.github.io/nib/">CSS3 Extensions with Nib</a></li>
            <li><a href="{{ root_url }}try.html">Try Stylus Online!</a></li>
        </ul>
        <div id="ribbon"><a href="https://github.com/LearnBoost/stylus">Fork me on GitHub</a></div>
        <div id="content">
            {% unless is_index %}<h1>{{ title }}</h1>{% endunless %}
            {{ processed_content }}
        </div>
    </div>
    {% comment %}<!-- <script src="{{ root_url }}j/script.js"></script> -->{% endcomment %}
    <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter23802394 = new Ya.Metrika({id:23802394, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/23802394" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</body>
</html>

