<!DOCTYPE html>{% include setup.md %}
<html class="page{{ page_lang_class }}{{ page_type_class }}{{ page_category_class }}">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>

	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=edge"/><!--[if gt IE 7]><!-->
    <link rel="stylesheet" href="{{ root_url }}s/style.css" /><!--<![endif]--><!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ root_url }}s/style.ie.css" /><![endif]-->

    <title>{{ title }}</title>
</head>
<body class="page-body">
    <fieldset>
        <legend>Page's Title</legend>
        <h1>{{ title }}</h1>
    </fieldset>
    <fieldset>
        <legend>Table of Contents</legend>
        {{ toc }}
    </fieldset>
    <fieldset>
        <legend>Processed Content</legend>
        {{ processed_content }}
    </fieldset>
    <fieldset>
        <legend>Partials ToC</legend>
        {{ partials_toc }}
    </fieldset>
    <fieldset>
        <legend>Partials</legend>
        {{ partials }}
    </fieldset>

    <script src="{{ root_url }}j/script.js"></script>
</body>
</html>

