.step
  h2 Color BIFs
  p.
    The Color built-in functions allow you adjust lightness, hue, and saturation,
    check if colors are light or dark and more.
  textarea.stylus
    body
      foo: light(#eee)
      foo: dark(#eee)
      foo: dark(#333)
      foo: darken(#eee, 50%)
      foo: lighten(black, 50%)
      foo: #eee - 50%
      foo: black + 50%
