.step
  h2 End
  p.
    That's it for now! to view the rest of the powerful features
    Stylus provides click "View Documentation" in the corner.
  textarea.stylus
    come-back later
      to-see: more unquote(':)')