.step
  h2 Flexible syntax
  p Semi-colons, colons, and braces are optional:
  textarea.stylus
    body
      font 14px/1.5 Helvetica, arial, sans-serif
      button
      button.button
      input[type='button']
      input[type='submit']
        border-radius 5px
  textarea.css